@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Servicos>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "umbLayout.cshtml";
	var items = CurrentPage.Children;
    var j = 0;
}

<section id="servicos">
	<div class="header"  style="background: url(@Umbraco.Media(Umbraco.Field("servicosHeader").ToString()).Url) no-repeat center center / cover"  data-stellar-background-ratio="0.8"></div>
	<div class="text_header">
		<h2>@Umbraco.Field("servicosTitulo")</h2>
	</div>								
	<ul class="list_itens">
		@foreach(var item in items) {
		<li>
			<div class="content">
				<div class="grid">
					<div class="text">
						<h3  style="background: url(@Umbraco.Media(item.icone.ToString()).Url) no-repeat left center / contain">@item.itemServicoTitulo</h3>
						<p>@item.itemServicoTexto</p>
					</div>
				</div>
				<div class="grid"  style="background: url(@Umbraco.Media(item.itemServicoImagem.ToString()).Url) no-repeat center center / cover"></div>
			</div>
		</li>
		}
	</ul>
</section>