@using umbraco.cms.businesslogic.web; 
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var seoDescription = Umbraco.Field("seoDescription").ToString();
    var seoKeywords = Umbraco.Field("seoKeywords").ToString();
    var seoImage = Umbraco.Media(Umbraco.Field("seoImage").ToString()).Url;

    Layout = null;
    var ii_field = Umbraco.Field("isInternal").ToString();
    var isInternal = false;
    if (!String.IsNullOrEmpty(ii_field))
    {
        isInternal = Convert.ToBoolean(ii_field);
    }

    var firstDomainLanguage = Domain.GetDomainsById(CurrentPage.AncestorOrSelf(1).Id)[0].Language;
    var culture_alias = firstDomainLanguage.CultureAlias;
    var url_corporate = "http://www.empresasrandon.com.br/pt";
    var lang_suffix = "_pt";
    if (culture_alias == "en-US") {
        lang_suffix = "_en";
        url_corporate = "http://www.empresasrandon.com.br/EN";
    }
    else if (culture_alias == "es-ES") {
        lang_suffix = "_es";
        url_corporate = "http://www.empresasrandon.com.br/ES";
    }

}<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>@Umbraco.Field("title", altFieldAlias: "pageTitle") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta name="description" content="@(seoDescription != null ? seoDescription : "")" />
    <meta name="keywords" content="@(seoKeywords != null ? seoKeywords : "")" />
    <meta property="og:title" content="@Umbraco.Field("title", altFieldAlias: "pageTitle") | @Umbraco.Field("siteName", recursive: true)" />
    <meta property="og:image" content="@(seoImage != null ? seoImage : "")" />

    <link rel="stylesheet" type="text/css" href="/_assets/css/main.min.css?v=3" />
    <script src="http://cssrefresh.frebsite.nl/js/cssrefresh.js"></script>
    <script src="https://use.typekit.net/fwx1tba.js"></script>
    <script>try { Typekit.load({ async: true }); } catch (e) { }</script>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <script type="text/javascript">
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/";
        var site_url = baseUrl;
    </script>
    <script src="/_assets/js/all.js?v=1"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-93115447-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-93115447-2');
    </script>

</head>
<body>
<div class="animsition">
<header @(isInternal == true ? " class=interna" : "")>
	<div class="container">
		<div class="menu">
			<div class="grid">
				<a href="/" title="@Umbraco.Field("siteName", recursive: true)" class="logo"><h1>@Umbraco.Field("#Randon - Campo de provas").ToString()</h1></a>
			</div>
			<div class="grid last">
				@{ Html.RenderPartial("umbTopNavigation"); }
			</div>
			<div class="mobile"></div>
		</div>
	</div>
</header>

@RenderBody()

<section id="footer">
	<div class="content_top">
		<div class="container">

			<div class="endereco">
				<p>@Umbraco.Field("enderecoLinha1", recursive: true)</p>
				<p>@Umbraco.Field("enderecoLinha2", recursive: true)</p>
				<p><strong>Tel.: @Umbraco.Field("telefone", recursive: true) - <a href="mailto:@Umbraco.Field("eMail", recursive: true)" title="Contato">@Umbraco.Field("eMail", recursive: true)</a></strong></p>
			</div>
			<div class="localizacao">
				<a href="@Umbraco.Field("linkGoogleMaps", recursive: true)" target="_blank" title="@Umbraco.Field("#Como chegar").ToString()">@Umbraco.Field("#Como chegar").ToString()</a>
			</div>
            <div class="logos">
                <a href="@url_corporate" target="_blank"><img src="/_assets/images/assinatura_corporativa@(lang_suffix).png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></a>
            </div>
                @{ /*
<div class="logos">
<a href="#!" title="Empresas Randon" class="logo_center"></a>
<ul class="list_logos">
<li class="item">
<p class="title">@Umbraco.Field("#Veículos e Implementos").ToString()</p>
<ul class="list_inner">
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
</ul>
</li>
<li class="item">
<p class="title">@Umbraco.Field("#Autopeças").ToString()</p>
<ul class="list_inner">
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
</ul>
</li>
<li class="item">
<p class="title">@Umbraco.Field("#Serviços").ToString()</p>
<ul class="list_inner">
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
<li><img src="/_assets/images/logo_randon_implementos.png" alt="@Umbraco.Field("#Randon - Campo de provas").ToString()"></li>
</ul>
</li>
</ul>
</div>
*/}
                <p class="creditos">@Umbraco.Field("#Créditos Fotográficos").ToString()</p>
            </div>

	</div>
	<div class="content_bottom">
		<p>@Umbraco.Field("#Copyright").ToString()</p>
	</div>
</section>

</div>

</body>
</html>